@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>Machines</h1>

@if (@Model.Count == 0)
{
  <h3>No machines have been added yet!</h3>
} 

@foreach (Machine machine in Model)
{
  <li>@Html.ActionLink($"{machine.Description}", "Details", new { id = machine.MachineId })</li>
}

<p>@Html.ActionLink("Add new machine", "Create")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>