@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3> Are you sure you want to delete this entry?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index", "Home")